*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-image: url(/photo/pexels-carlos-oliva-3586966.jpg);
    background-size: cover;
    background-position: center;

}
.hero h2{
    float: left;
    padding-top: 5px;
    display: inline-block;
    color: white;
    font-size: 55px;
    margin-left: 25px;
    
}
.hero span{
    color: #f9004d;
    font-style: italic;
}
.container span{
    color: #f9004d;
    font-style: italic;
}
ul{
    float: left;
    margin-top: 25px;
    margin-left: 450px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
  
    margin-left: 50px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #f9004d;
    transition: .4s;
}
.container{
    position: absolute;
    top: 30%;
    left: 8%;
    /* color: white; */
    /* transform: translate(-50%); */
}
.container h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
.container h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
.container h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
/* about section  */
.about{
    width: 100%;
    height: 100vh;
    position: relative;
}
.mainContentText{
    display: inline-block;
    width: 69%;
    height: 100vh;
    background-color: aliceblue;
    position: absolute;
    left: 0;
 
}
.mainContentImg{
    display: inline-block;
    background-color: white;
    width: 30.7%;
    height: 100vh;
    position: absolute;
    right: 0;
}
.mainContentImg img{
    position: absolute;
    top: 80px;
    left: -290px;
    z-index: 15;
    width: 500px;
    height: 600px;
}
.mincontent  {
    position: absolute;
    top: 95px;
    left: 200px;
}
.mincontent h1{
    font-size: 50px;
}
.mincontent span, p{
    color: rgb(55, 54, 54);
}
.mainContainerOn{
    width: 600px;
    position: absolute;
    bottom: 28%;
    left: 200px;
    z-index: 16;
    padding: 30px;
    box-shadow: -10px 0px 20px 5px rgb(119, 118, 118);
    background-color: white;
}
.mainContainerOn p{
    line-height: 1.6;
}
.mainContainerOn input{
    width: 100px;
    height: 40px;
    float: right;
}
.art{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 25;
}
.containermax{
    width: 68.7%;
    height: 100vh;
    background-color: white;
    display: inline-block;
    position: absolute;
    top: 0;
   
}
.containermin{
    width: 44.9%;
    height: 100vh;
    background-color: aliceblue;
    display: inline-block;
    position: absolute;
    top: 0;
    right: -470px;
}
.imgContent{
    width: 90%;
    height: 500px;
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 5;
  
}
.imgContent{
    position: relative;

}
.textcontent{
    margin: 20px;
}
.textcontent input{
    background-color:#1252b1;
    color: white;
    padding: 5px;
    position: absolute;
    right: 27px;
    top: 25px;
}
.content1{
    width: 30%;
    height: 388px;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    box-shadow: -1px 0px 20px 5px rgb(119, 118, 118);
}
.content1 img{
    width: 281px;
}
.aboutmy{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-color: #6e6e6e;
}

.aboutmy:hover{
    background-color: #1259b3;
}
.aboutmy h1{
    margin-top: 10px;
    font-size: 12px;
    color: white;
}
.btnclass{
    position: absolute;
    border-bottom: 3px solid white;
    width: 100px;   
    right: 0px;
    bottom: 10px;
}